@import url("reset.css");

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

p {
    padding: 10px;
}

#wrapper {
    width: 100%;
    min-width: 1000px;
    max-width: 2000px;
    margin: 0 auto;
}

#header {
    float: left;
    height: 200px;
    width: 100%;
    background: #FFFFAA;
    border:1px solid #000000;
}

#contentliquid {
    float: left;
    width: 100%;
}

#content {
    background: #FFFFFF;
    margin-left: 160px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#leftcolumn {
    float: left;
    background: #FFFFFF;
    width: 150px;
    margin-left: -100%;
}

#footer {
    height: 150px;
    width: 100%;
    background: #33FF66;
    clear: both;
}


#newbook, #newuser {
	z-index: 9999;
	border: 1px solid #444;
	width: 330px; 
	margin:5px 0px; 
	padding: 5px;
	border: gray dashed 1px;
	background: #D4FFAA; 
	display:none;		
}

#background { 
  left: 0; 
  top: 0; 
  position: absolute; 
  background: #000; 
  opacity: 0.7; 
  z-index: 999; 
  display: none; 
  height: 100%; 
  width: 100%; 
} 

.TableBooks a {
	text-decoration: none;
}

.TableBooks {
	margin:0px;
	padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.TableBooks table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.TableBooks tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.TableBooks table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.TableBooks table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.TableBooks tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.TableBooks tr:hover td{
	background-color:#ffffff;
		

}
.TableBooks td, .TableBooks th{
	
	vertical-align:middle;
	
	background-color:#d4ffaa;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.TableBooks tr:last-child td{
	border-width:0px 1px 0px 0px;
}.TableBooks tr td:last-child{
	border-width:0px 0px 1px 0px;
}.TableBooks tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.TableBooks tr th{
	
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.TableBooks tr:hover th{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
}
.TableBooks tr th:first-child{
	border-width:0px 0px 1px 0px;
}
.TableBooks tr th:last-child{
	border-width:0px 0px 1px 1px;
}
.TableBooks th.header{

	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 20px;
	border-left: 1px solid #dad9c7;
	margin-left: -1px;
}