.header{
    float: left;
    background-color: grey;
    height: 200px;
    width: 100%;
}

.leftcolumn{
    float: left;
    background-color: white;
    margin-left: -100%;
    width: 250px;
    height: 600px;
    margin-top: 200px
}

.content{
   float: left;
   background-color: greenyellow;
   margin-left: 250px;
   //padding-top: 200px;
   height: 600px;
   width: 1000px;
}

.rightcolumn{
    float:left;
    background-color: blanchedalmond;
    
}

.footer{
    clear:both;
}
