<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>    
    <property name="connection.pool_size">10</property>
    <mapping class="com.ch018.library.entity.Person"/>
    <mapping class="com.ch018.library.entity.Book"/>
    <mapping class="com.ch018.library.entity.Genre"/>
    <mapping class="com.ch018.library.entity.BooksInUse"/>
    <mapping class="com.ch018.library.entity.WishList"/>
    <mapping class="com.ch018.library.entity.Orders"/>
     </session-factory>
</hibernate-configuration>

