<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    
    <File name="file" fileName="/logs/errors.log" >
      <PatternLayout pattern="%d{ISO8601} [%5p] %m at %l%n"/>  
      <Filters>
      	<ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL" />
      	<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
      </Filters>
         
    </File>
    
    <File name="filedebug" fileName="/logs/debug.log">
      <PatternLayout pattern="%d{ISO8601} [%5p] %m at %l%n"/>
      <Filters>
      	<ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL" />
      	<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL" />
      	<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL" />
      	<ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL" />
      	<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
      </Filters>
    </File>
    
    <File name="fileinfo" fileName="/logs/info.log">
      <PatternLayout pattern="%d{ISO8601} [%5p] %m at %l%n"/>
      <Filters>
      	<ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL" />
      	<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL" />
      	<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL" />
      	<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
      </Filters>
 
    </File>
    
    <Console name="S_STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="SPRING %d{ISO8601} [%5p] %m at %l%n"/>
    </Console>
    
    <Console name="H_STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="HIBERNATE %d{ISO8601} [%5p] %m at %l%n"/>
    </Console>
    
  </Appenders>
  <Loggers>
  
  	<logger name="org.springframework" level="WARN">
        <appender-ref ref="S_STDOUT"/>
    </logger>  	
    <logger name="org.hibernate" level="WARN">
        <appender-ref ref="H_STDOUT"/>
    </logger>


    <Root level="TRACE">
      <AppenderRef ref="file"/>
      <AppenderRef ref="filedebug"/>
	  <AppenderRef ref="fileinfo"/>
	  
    </Root>
    
  </Loggers>
</Configuration>